[Desktop Entry]
Name=Porcupine
Comment=This is a "web browser" that copies URLs to your clipboard
Exec=porcupine %U
Terminal=false
Type=Application
Icon=porcupine
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
